textarea {
  width: 100%;
  font-size: 20pt;
}
button {
  display: block;
}

.container {
  margin-top: 1%;
  label {
    width: 100%;
    text-align: center;
  }
}

.note-title {
  display: block;
  width: 60%;
  font-size: 20pt;
  margin: auto;
  margin-bottom: 2%;
}
